body {
    background-color: beige;
}

hr {
    margin: 0;
}

.main-contener {
    margin: auto;
    width: 80%;
}

.main-title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display: inline-block;
    margin-top: 40px;
}

.accordion-row {
    position: relative;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 16pt;
}

.row-icon {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
    transform: translate(-0,-50%);
    font-weight: bold;
    font-size: 22pt;
    pointer-events: none 
}

.row-label {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    position: relative;
}

.content {
    display: none;
    margin: 0;
}

.check {
    display: none;
}

.check:checked ~ .content {
    display: block;
    transition: block-size display linear 2s;
} 

.check:checked ~ .row-icon {
    position: absolute;
    transform-origin: top left;
    transform: rotate(45deg) translate(0,-80%);
    transition: linear 0.5s;
} 


