body {
    background-color: beige;
}

hr {
    margin: 0;
}

.main-contener {
    margin: auto;
    width: 80%;
}

.main-title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display: inline-block;
    margin-top: 40px;
}

.accordion-row {
    position: relative;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 12pt;
    /* transition: 0.5s;  */
    /* added transition */
}

.row-label {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    position: relative;
}

.row-label::after {
    content: "+";
    font-weight: bold;
    display: inline-block;
    position: absolute;
    right: 0px;
    transition: 0.5s;
}

.check:checked ~ .row-label::after {
    transform: rotate(45deg);
}

.check {
    display: none;
}


.content {
    height: 0;
    transition: 0.5s;
}

.check:checked ~ .content {
    height: 300px;
    margin-bottom: 15px;
} 

/* Hover behavior*/
.row-label:hover ~ .content {
    height: 300px;
    margin-bottom: 15px;
}

.content:hover {
    height: 300px;
    margin-bottom: 15px;
}

/* Meme images*/
.meme1 {
    background-image: url('assets/meme1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.meme2 {
    background-image: url('assets/meme2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.meme3 {
    background-image: url('assets/meme3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.meme4 {
    background-image: url('assets/meme4.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.meme5 {
    background-image: url('assets/meme5.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}



